<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ParallelTestsSuite" parallel="tests" thread-count="3">
    <test name="GetPlayerAndAllPlayersTests">
        <classes>
            <class name="getplayer.GetPlayerNegativeTests"/>
            <class name="getplayer.GetPlayerPositiveTests"/>
            <class name="getallplayers.GetAllPlayersNegativeTests"/>
            <class name="getallplayers.GetAllPlayersPositiveTests"/>
        </classes>
    </test>
    <test name="CreateAndEditPlayerTests">
        <classes>
            <class name="createplayer.CreatePlayerNegativeTests"/>
            <class name="createplayer.CreatePlayerPositiveTests"/>
            <class name="editplayer.EditPlayerNegativeTests"/>
            <class name="editplayer.EditPlayerPositiveTests"/>
        </classes>
    </test>
    <test name="DeletePlayerTests">
        <classes>
            <class name="deleteplayer.DeletePlayerNegativeTests"/>
            <class name="deleteplayer.DeletePlayerPositiveTests"/>
        </classes>
    </test>
</suite>